<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.1/normalize.css">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <form>

            <fieldset>
              <h1 style="text-align: center;">Welcome to Ishan and Uzair's Slambook</h1>
              <label for="firstName">Full name</label>
              <input type="text" name="name" id="firstName" placeholder="Full Name">
			  <div><p>  First Name</p><input type="text", placeholder="First Name", required></div>
				<div><p>Last Name</p><input type="text", placeholder="Last Name", required></div>
				<div><p>Nickname</p><input type="text", placeholder="Nickname", required></div>
            </fieldset>

            <fieldset>
              <label for="textarea">Bio</label>
              <textarea name="textarea" id="textarea" placeholder="Tell us about yourself..."></textarea>
            </fieldset>


            <fieldset>
              <legend>Gender</legend>
              <input type="radio" id="radio1" name="radios" checked>
              <label for="radio1">Male</label><br>
              <input type="radio" id="radio2" name="radios">
              <label for="radio2">Female</label><br>
              <input type="radio" id="radio3" name="radios">
              <label for="radio3">Deny to State</label>
            </fieldset>

            <fieldset>
              <label for="select-choice">Occupation</label>
              <select name="select-choice" id="select-choice">
                <option value="Choice 1">- - select one - -</option>
                <option value="Choice 2">Entrepreneur</option>
                <option value="Choice 3">Civil Services.</option>
                <option value="Choice 4">White Collar jobs</option>
                <option value="Choice 5">Student</option>
              </select>
            </fieldset>

			<fieldset>
				<div><p>Place of Birth</p><input type="text", placeholder="Place of Birth", required></div>
				<div><p>Date of Birth</p><input type="date", placeholder="Date of Birth", required></div>
				<div><p>Email ID</p><input type="email", placeholder="Email ID", required></div>
				<div><p>Contact Number</p><input type="text", placeholder="Contact Number", required></div>
				<div><p>Hobbies</p><input type="text", placeholder="Hobbies", required></div>
				<div><p>Favorite Color</p><input type="text", placeholder="Favorite Color", required></div>
				<div><p>Favorite Food</p><input type="text", placeholder="Favorite Food", required></div>
				<div><p>Favorite Musician</p><input type="text", placeholder="Favorite Musician", required></div>
				<div><p>Favorite Song</p><input type="text", placeholder="Favorite Song", required></div>
				<div><p>Favorite Sport</p><input type="text", placeholder="Favorite Sport", required></div>
				<div><p>Favorite Athlete</p><input type="text", placeholder="Favorite Athlete", required></div>
				<div><p>Favorite Movie</p><input type="text", placeholder="Favorite Movie", required></div>
				<div><p>Favorite Actor</p><input type="text", placeholder="Favorite Actor", required></div>
				<div><p>Favorite Actress</p><input type="text", placeholder="Favorite Actress", required></div>
				<div><p>What is your ambition in life?</p><input type="text", placeholder="Ambition in Life", required></div>
				<div><p>What is your Dream city you want to settle in?</p><input type="text", placeholder="Dream City to Settle In ", required></div>
			</fieldset>

            <button>Submit</button>
          </form>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
          <script src="./index.js"></script>
    </body>
</html>